<div id="alert" class="modal modal-alert fade" tabindex="-1" role="dialog" aria-labelledby="alert" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss='modal'>x</button>
        <h3> </h3>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" id="ok" class="btn btn-warning"> OK </button>
    </div>
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>    