<div id="get-credentials" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="get-credentials" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss='modal'>x</button>
        <h3> Retrieve Password </h3>
    </div>
    <div class="modal-body">
        <form method="post" id="get-credentials-form" class="well span5">
            <p> Please enter the email address associated with your account </p>
            <input type="text" name="email" id='email-tf' class="span5 required"/>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            <button data-dismiss="modal" id='cancel' class="btn">Cancel</button>
            <div class="alert alert-error hide">
            <button data-dismiss="alert" class="close"></button>
            </div>
        </form>
    </div>
    <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

