<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<title>Team Avatar</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <nav>
                <ul id="NavMenu">
                    <li><a href="/" title="Home">Official Recalls</a></li>
                    <li><a href="/unofficial">Reported by people</a></li>
                    <li><a href="/report">Report a Problem</a></li>                 
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div id="contact">
            <h1>Contact<small>Team Avatar</small></h1>

            <div class="centeredText">
                Ze Qian Zhang<br>ze.q.zhang@mail.mcgill.ca<br><br>
                Dzmitry Murzich<br> dzmitry.murzich@mail.mcgill.ca<br><br>
                Cheng Gong<br> cheng.gong@mail.mcgill.ca<br><br>
                Alonso Medina <br>alonso.medina@mail.mcgill.ca<br><br>
                Peter Henderson<br>peter.henderson@mail.mcgill.ca<br><br>
            </div>
        </div>
    </div>
    <a href="./images/background.jpg"></a>
</body>
</html>